# IDE
.idea/
*.iml
.DS_Store
.vscode/
.nyc_output
coverage/

# Build and compiled stuff
*.zip
node_modules_awslambda/
node_modules/
dist/

# Use semver/package.json to block your dependencies
package-lock.json

# Development stuff
.env
version.git
version.json

